<div id="menu" class="container navbar navbar-inverse">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <nav class="collapse navbar-collapse ">
        <ul id="navbar" class="nav navbar-nav navbar-left" af-navbar-item items="afdata.navbarItems" url="afdata.navbarUrl"></ul>
    </nav>
</div>