<div id="app-header"  ng-controller="HeaderCtrl">
    <div ng-if="dataLoaded">
        <af-header url="header.url" top="header.top" menu="header.menu"></af-header>
    </div>
</div>
<div role="main" id="main" class="container">
    <div class="row">
        <div id="app-left-side-bar" class="col-md-2 well">
            left
        </div>
        <div id="app-main-content" class="col-md-8 well">
            content
        </div>
        <div id="app-right-side-bar" class="col-md-2 well">
            right
        </div>
    </div>
</div>
<div id="app-footer" class="col-md-12">
    footer
</div>



